[Desktop Entry]

# Type
Type=Application

# Latest version
Version=3.2

# The name of the application
Name=kermit

# Application comment
Comment=Terminal emulator

# The executable of the application
Exec=/usr/bin/kermit

# The name of the icon
Icon=utilities-terminal

# Use launcher
StartupNotify=true

# No need for running in terminal
Terminal=false

# Categories
Categories=GTK;TerminalEmulator;Utility;

# Exclude from the AppStream metadata
X-AppStream-Ignore=True
